* {
  font-family: "Inter", sans-serif !important;
}
html, body, ion-app, ion-content {
  font-family: "Inter", sans-serif !important;
}

body, ion-content {
  --background: linear-gradient(135deg, #e7ebff, #f6f3ff, #fff6ed);
  background-size: 400% 400%;
  animation: gradientShift 18s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0 50%; }
}
