/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
:root {
  /* Fondo global claro */
  --ion-background-color: #f5f7fa;

  /* Escala de colores claras */
  --ion-color-step-50: #f2f2f2;
  --ion-color-step-100: #e6e6e6;
  --ion-color-step-150: #d9d9d9;
  --ion-color-step-200: #cccccc;
  --ion-color-step-250: #bfbfbf;
  --ion-color-step-300: #b3b3b3;
  --ion-color-step-350: #a6a6a6;
  --ion-color-step-400: #999999;
  --ion-color-step-450: #8c8c8c;
  --ion-color-step-500: #808080;
}
